name: cdk deploy

on:
  push:
    branches:
      - main
jobs:
  aws_cdk:
    name: Running Ubutu image
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Configure AWS credentials from IAM Role
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install Dependencies
        run: npm ci

      - name: Build Code
        run: |
          npm run build

      - name: CDK deploy Api Stack
        run: npm run deploy
